<!DOCTYPE html>
<html>
<head>
    <title>Usuarios</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Peso</th>
                <th>Altura</th>
                <th>Género</th>
                <th>Nivel de Actividad</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.edad }}</td>
                <td>{{ usuario.peso }}</td>
                <td>{{ usuario.altura }}</td>
                <td>{{ usuario.genero }}</td>
                <td>{{ usuario.nivelActividad }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
